#popup-message-background {
  display: none;
  position: fixed;
  _position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#popup-message-window {
  position: fixed !important;
  left: -300px;
  top: 100px;
  background-color: #fff;
  padding: 10px;
  border: 4px solid #ccc;
  z-index: 2;
}

#popup-message-close {
  float: right;
  display: none;
}

h1.popup-message-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: #666;
  margin: 0px 0px 10px;
}

#popup-message-window #edit-categories .form-type-checkbox {
  width: 130px;
  height: 100px;
  margin: 0px 5px 20px 5px;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
}

#popup-message-window #edit-categories .form-type-checkbox.selected {
  border: 2px solid #666;
}

#popup-message-window #edit-categories .form-type-checkbox:hover {
  cursor: pointer;
}

#popup-message-window #edit-categories .form-type-checkbox label.option {
  position: absolute;
  bottom: -30px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 12px;
}

#popup-message-window #edit-categories .form-type-checkbox.selected label.option {
  font-weight: bold;
  color: #666;
}

#popup-message-window #edit-categories .form-type-checkbox input[type=checkbox] {
  position: absolute;
  top: 70px;
  left: 60px;
}

#daisy-user-first-time-login-form #edit-actions {
  text-align: center;
  margin: 0px;
}

#daisy-user-first-time-login-form #edit-actions button[type=submit] {
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background-color: #cdcdcd;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#daisy-user-first-time-login-form #edit-actions button[type=submit]:hover {
  background-color: #d1594b !important;
  background-image: none;
  color: #fff;
}

/**
 * Category styles classes.
 */
#popup-message-window #edit-categories .form-type-checkbox,
#popup-message-window #edit-categories .form-type-checkbox.selected:hover {
  background: #fff no-repeat center center;
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-50 {
  background-image: url('../../img/menu_icons/36x36_arts.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-50:hover,
#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-50.selected {
  background-color: #a8519e !important;
  background-image: url('../../img/menu_icons/36x36_arts_w.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-44 {
  background-image: url('../../img/menu_icons/36x36_education.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-44:hover,
#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-44.selected {
  background-color: #7461ab !important;
  background-image: url('../../img/menu_icons/36x36_education_w.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-48 {
  background-image: url('../../img/menu_icons/36x36_health.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-48:hover,
#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-48.selected {
  background-color: #f1597f !important;
  background-image: url('../../img/menu_icons/36x36_health_w.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-47 {
  background-image: url('../../img/menu_icons/36x36_politics.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-47:hover,
#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-47.selected {
  background-color: #5a97cf !important;
  background-image: url('../../img/menu_icons/36x36_politics_w.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-49 {
  background-image: url('../../img/menu_icons/36x36_psychology.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-49:hover,
#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-49.selected {
  background-color: #7ca053 !important;
  background-image: url('../../img/menu_icons/36x36_psychology_w.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-46 {
  background-image: url('../../img/menu_icons/36x36_science.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-46:hover,
#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-46.selected {
  background-color: #f9a341 !important;
  background-image: url('../../img/menu_icons/36x36_science_w.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-58 {
  background-image: url('../../img/menu_icons/36x36_spirituality.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-58:hover,
#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-58.selected {
  background-color: #79bd9a !important;
  background-image: url('../../img/menu_icons/36x36_spirituality_w.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-45 {
  background-image: url('../../img/menu_icons/36x36_social.png');
}

#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-45:hover,
#popup-message-window #edit-categories .form-type-checkbox.form-item-categories-45.selected {
  background-color: #ef5749 !important;
  background-image: url('../../img/menu_icons/36x36_social_w.png');
}