/*
 * Styles for the embedded merchant registration
*/
#piCabHead {
    display: none;
}

.piCabEmbeddedContainer a {
    color: #0000FF;
    text-decoration: none;
}

.piCabEmbeddedContainer a:hover {
    text-decoration: none;
}

.piCabEmbeddedContainer {
    font-size: 12px;
    top: 40px;
    height: 500px;
    display: none;
    overflow: auto;
    overflow-x: hidden;
    font-family: Verdana,Arial,sans-serif;
    border: 1px solid #999999;
    padding:5px;
    z-index: 9999;
    background-color:white;
    position: absolute;
    width: 750px;
    left: 50%;
    margin-left: -375px;
    line-height: 13px;
}
.piCabEmbeddedContainerHead {
    position: absolute;
    width: 750px;
    left: 50%;
    margin-left: -375px;
    top: 20px;
    height: 20px;
    background-color: #B3B3B3;
    color: #FFFFFF;
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #999999;
    border-bottom: 0;
    z-index: 9999;
}
.piCabContent {
    text-align: center;
}

.piCabLeft {
    text-align: left;
}

.piCabSmallerFont {
    font-size:10px;
}

.piCabBold {
    font-weight: bold;
    text-align: center;
}

.piCabErrorBox {
    font-size: 12px;
    text-align: left;
    background: #fff7d7;
    padding: 5px;
    border-width: thin;
    border-color: #FF0000;
    border-style: solid;
    margin-bottom: 5px;
}

.piCabCloseOrHide {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    position:relative;
    bottom:10px;
}

.piCabButtonText{
    bottom: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    width: 250px;
}

.clickandbuy-payment-notice a, .clickandbuy-payment-notice a:visited, .clickandbuy-payment-notice a:hover{
    text-decoration: none;
}

#piCabOverlay {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    text-align:center;
    z-index: 999;
    opacity: 0.5;
    background-color:black;
}

.piCabCloseOrHideRight {
    float:right;
    font-size:25px;
}

.piCabCenter{
    text-align: center;
}

.piCabImgCenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#piCabCompleteRegistration {
    white-space: normal;
}

.piCabButton {
    margin: 0px auto;
    text-align: center;
    width: 292px;
    height: 30px;
    color: #FFF7E9;
    font-size: 15px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    background-repeat: no-repeat; 
}
.piCabLinkStyle a:link,visited,active,hover {
    text-decoration: none;
    color: #FFF7E9;
}
