#modalContent {
  position: fixed !important;
  z-index: 1031 !important;
  top: 150px !important;
  left: 30%;
}
#modalContent .alert-block{
  display: none;
}
#modal-content,
#modalContent {
  overflow: hidden;
}

.not-front div.ctools-modal-content .modal-header {
  background-color: #C9C9C9;
}

.not-front div.ctools-modal-content .modal-title {
  color: #666666;
  font-size: 12px;
}

.not-front .modal-header .close {
  color: transparent;
  width: 15px;
  height: 15px;
  border: 1px solid #666666;
  background-size: 100%;
}

.not-front .modal-header .close img {
  display: none;
}

.not-front .modal-content .form-textarea-wrapper {
  display: block;
  width: 350px;
  margin: 0 auto;
}
.not-front .modal-content .form-textarea-wrapper .grippie {
  display: none;
}
#edit-decline-form-text {
  resize: none;
}

.not-front .icon-ban-circle:before {
  margin-right: 3px;
}
.modal-content .daisy-expert-decline .form-submit {
  background-color: #8D7FB6 !important;
  color: #FFFFFF;
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.not-front .modal-content .daisy-expert-decline .form-submit:hover {
  background-color: #C9C9C9 !important;
  color: #666666;
  font-family: FontAwesome;
  height: auto;
}
.not-front .ctools-modal-content .modal-content .modal-throbber-wrapper img {
  position: relative;
  margin-top: 50px;
}
