.ctools-modal-content {
  border: 1px solid #d9d9d9 !important;
}

#modalContent {
  z-index: 1031 !important;
  top: 200px !important;
  left: 40%;
  position: fixed !important;
}

#modal-content,
#modalContent {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

div.ctools-modal-content .modal-header {
  background-color: #C9C9C9;
  border: none;
  padding: 0;
}
div.ctools-modal-content .modal-header .modal-title {
  font-size: 12px !important;
  font-weight: normal;
  overflow: hidden;
  white-space: normal;
}

.modal-title {
  color: #666666 !important;
}

.modal-header .close img {
  display: none;
}

.modal-header .close {
  width: 15px;
  height: 15px;
  border: 1px solid #666666;
  background-size: 100%;
}

.modal-content .form-submit {
  background-color: #7373ae;
  color: #ffffff;
}

.modal-content .form-submit:focus,
.modal-content .form-submit:hover {
  background-color: #bb2413;
  color: #ffffff !important;
}

#modal-throbber img {
  margin: 90px;
}

/**
 * Preview on frontpage overrides
 */
.modal-header .modal-title .preview-title {
  display: block;
  height: 40px;
  min-height: 40px;
  padding: 0 20px 0 10px;
}

/**
 * Registration form overrides
 */
.modal-header .modal-title .daisy-popup {
  background: #d84a38;
  color: #ffffff;
  display: block;
  font-family: 'segoe ui';
  font-size: 30px !important;
  font-weight: 300 !important;
  line-height: 40px;
  min-height: 40px;
  padding-right: 20px;
  padding-top: 25px;
  text-align: right;
}
.modal-content form.daisy-popup {
  background: #d84a38;
  height: 115px;
  padding-top: 20px;
}

.modal-content form.daisy-popup.login-form {
  height: 135px;
  padding-top: 0px;
}
.modal-content form.daisy-popup div.form-item-mail {
  text-align: right;
  margin-right: 20px;
}
.modal-content form.daisy-popup div.form-item-mail label {
  color: #ffffff !important;
  display: inline-block;
  width: 80px;
}
.modal-content form.daisy-popup div.form-item-mail input {
  display: inline-block;
  width: 185px;
  line-height: 20px;
  padding: 0px;
  margin: 0 0 5px;
  min-height: 0px;
  height: 20px;
}
.modal-content form.daisy-popup .btn.form-submit {
  clear: right;
  float: right;
  font-size: 12px;
  padding: 3px 18px;
  margin-right: 20px;
  word-wrap: nowrap;
}
.modal-header a.close {
  background-image: url('');
}

