div.messages.oneall_social_login {
  margin: 5px 10px;
}

.oneall_social_login_provider {
  background-image: url("img/oneall_social_login.providers.png");
  text-indent: -9999px;
  height: 35px;
  width: 35px;
  display: inline-block;
}

.oneall_social_login_provider.oneall_social_login_provider_aol {
  background-position: -2px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_blogger {
  background-position: -39px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_facebook {
  background-position: -76px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_foursquare {
  background-position: -113px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_google {
  background-position: -150px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_hyves {
  background-position: -187px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_linkedin {
  background-position: -224px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_livejournal {
  background-position: -298px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_myspace {
  background-position: -372px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_openid {
  background-position: -409px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_twitter {
  background-position: -520px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_vkontakte {
  background-position: -631px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_wordpress {
  background-position: -668px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_yahoo {
  background-position: -705px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_paypal {
  background-position: -742px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_stackexchange {
  background-position: -779px -1px;
}

.oneall_social_login_provider.oneall_social_login_provider_steam {
  background-position: -816px -1px;
}
