.btn {
  /* background-color: #d9d9d9 !important; */
  line-height: 20px;
}

.btn.btn-daisy:hover {
  background-color: #7373ae !important;
  color: #fff;
}
.btn.btndi {
  padding: 0;
}
.btn.btndi i {
  font-size: 18px;
  display: block !important;
  line-height: 34px;
  width: 34px;
}
.btn.btndi.btndi-white i {
  color: #fff;
}
.list-daisy {
  margin: 0;
  padding: 0;
}
.list-daisy li {
  display: inline-block;
  margin-left: 2px;
}
.list-daisy li a {
  padding: 7px 14px;
}
.profile {
}
.user-info-top {
  position: relative;
}
.profile .profile-option {
  position: absolute;
  top: 0;
  right: 0;
}
.profile .sb-links {
    bottom: 0;
    position: absolute;
    right: 0;
}
.user-profile-left {
  float: left;
  width: 210px;
}
.user-profile-right .ap-links a {
  text-decoration: none;
  color: #6B6FAE;
}

.user-profile-right .ap-links .addtoany a {
  padding-right: 4px;
  border-right: 1px solid #D0D2E6;
}

.user-profile-right .ap-links .print a{
  padding-left: 4px;
}

.profile .ap-links dt,
.profile .ap-links dd {
  margin: 0;
  padding: 0;
}

.refTable-left {
  float: left;
  width: 350px;
}

.refTable-right {
  float: right;
  text-align: right;
  font-weight: bold;
}

.rt-row-wrapper {
  padding: 10px 0;
  border-bottom: 1px solid #D0D2E6;
  display: block;
  /*height: 15px;*/
}

.user-profile-right .daisy-user-name {
  font-weight: bold;
}

.profile-middle .user-info .field {
  padding: 10px 0;
  border-bottom: 1px solid #bfbfbf;
  display: table;
  width: 100%;
}

.profile-middle .user-info .field .field-label {
  float: left;
  padding: 0 10px;
  text-align: right;
  width: 150px;
  font-size: 14px;
  color: #808080;
  font-weight: normal;
  text-transform: uppercase;
}

.profile-middle .user-info .field-referral-info {
  padding-left: 20px;
}

.profile-middle .user-info .field-referral-info dt {
  clear: left;
  width: 140px;
  text-align: right;
}

.profile-middle .user-info .field-referral-info dt,
.profile-middle .user-info .field-referral-info dd {
  display: inline-block;
  float: left;
  margin-left: 0px;
  margin-right: 20px;
}

.profile-middle .user-info .field .field-items {
  font-size: 13px;
  color: #404040;
  margin-left: 180px;
  padding-right: 10px;
}

.user-profile-right .user-info {
  border-top: 1px solid #d0d2e6;
}

.user-profile-right .ap-links {
  float: right;
  margin-bottom: 5px;
}

.user-profile-right .ap-links div {
  float: left;
}

.user-profile-right dd {
  margin: 0 0 5px 0;
}
.view-id-friends .views-row{
  /*height: 60px;*/
  padding: 10px 0;
  border-bottom: 1px solid #d1d1d1;
}

.view-id-friends .views-field a {
  text-decoration: none;
}

.a2a_menu,
.a2a_menu_inside,
.a2a_menu a,
.a2a_tabs div,
.a2a_menu_find_container,
.a2a_menu_powered_by {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.view-id-friends,
.view-display-id-groups_page {
  margin: 10px;
}

.view-id-friends .user-image {
  margin:  0 10px;
}

.view-id-friends .user-image img {
  border: 1px solid #d1d1d1;
}

.view-id-friends .daisy-user-name,
.view-id-friends .user-image{
  float: left;
  /*width: 635px;*/
}

.view-id-friends .user-links {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.view-id-friends .user-links span {
  float: left;
}

.view-id-friends .user-links a {
  text-decoration: none;
}
.view-id-friends .user-links .mail a {
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
  padding: 0 10px;
}

.view-id-friends .user-links .share .dropdown-menu {
  left: -130px;
}

.view-id-friends .user-links .share .dropdown-menu a {
  text-indent: 0px !important;
}

.view-id-friends .mail a {
  background: url("../img/mail.png") no-repeat 50% 50%;
}

.view-id-friends .mail a:hover {
  background: url("../img/mail-hover.png") no-repeat 50% 50%;
}

.view-id-friends .delete a.remove {
  background: url("../img/delete.png") no-repeat 100% 50%;
  padding-right: 0;
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
}

.view-id-friends a > i.icon-thumbs-up {
  position: relative;
  left: -3px;
  top: -5px;
}

.view-id-friends a > i.icon-thumbs-up:before {
  color: #999;
}

.view-id-friends a:hover > i.icon-thumbs-up:before {
  color: #6b6fae;
}

.view-id-friends .delete a.remove:hover {
  background: url("../img/delete-hover.png") no-repeat 100% 50%;
}

.view-id-friends .user-info-wrapper {
  float: left;
}
.view-id-friends .user-degree {
  clear: both;
  max-width: 500px;
}

/**
 * User profile styles.
 */
body.page-user h1.page-header {
  height: 0px;
  border: none;
  overflow: hidden;
}

.user-profile-left {
  float: left;
  width: 150px;
  padding: 10px;
}

.user-profile-right {
  padding: 10px 10px 10px 180px;
  border-bottom: 1px solid #bfbfbf;
}

.user-profile-right .ap-links a {
  text-decoration: none;
  color: #6B6FAE;
}

.user-profile-right .ap-links .addtoany a{
  padding-right: 4px;
  border-right: 1px solid #D0D2E6;
}

.user-profile-right .ap-links .print a{
  padding-left: 4px;
}

.profile .ap-links dt,
.profile .ap-links dd {
  margin: 0;
  padding: 0;
}
.refTable-left {
  float: left;
  width: 350px;
}

.refTable-right {
  float: right;
  text-align: right;
  font-weight: bold;
}

.rt-row-wrapper {
  padding: 10px 0;
  border-bottom: 1px solid #D0D2E6;
  display: block;
  /*height: 15px;*/
}

.user-profile-right .daisy-user-name {
  font-weight: normal;
  font-size: 20px;
  color: #7373ae;
  margin-top: 20px;
}
.user-profile-right .user-grad {
  color: #404040;
  font-size: 14xp;
}
.user-profile-right .user-grad .field-label {
  display: none;
}
.user-profile-right .user-country {
  color: #808080;
  font-size: 12px;
}
.user-profile-right .user-range-wrapp {
  margin-top: 10px;
}
.user-profile-right .user-range {
  display: block;
  width: 70px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  background-color: #ef5f51;
  text-transform: uppercase;
  color: #fff;
}
.user-profile-right .user-info .field {
  padding: 25px 0;
  border-bottom: 1px solid #d0d2e6;
}

.user-profile-right .user-info {
  border-top: 1px solid #d0d2e6;
}

.user-profile-right .ap-links {
  float: right;
  margin-bottom: 5px;
}

.user-profile-right .list-daisy li {
  float: left;
}

.user-profile-right .list-daisy li a {
  padding: 7px 8px;
}

.profile-option .list-daisy li a {
  padding: 4px 28px;
}

.sb-links .social-links {
  width: 100px;
  height: 34px;
  float: left;
  display: none;
}

.social-links div.network {
  background-color: #cccccc;
  width: 32px;
  margin-right: 1px;
  height: 100%;
  float: left;
}

.social-links div.network:hover {
  background-color: #ef5749;
}

.sb-links a.addthis-link.open {
  background-color: #7373ae;
}

.sb-links a.addthis-link i {
  line-height: 16px;
  font-size: 20px;
}

.social-links a {
  text-align: center;
}

.social-links i {
  line-height: 30px;
  font-size: 20px;
  position: relative;
  left: 10px;
  text-decoration: none;
}

.social-links i.icon-facebook {
  left: 12px;
}

.social-links i.icon-vk {
  left: 5px;
}

.social-toggle.open i,
.social-links div.network i {
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
  left: 0;
  top: 0;
  line-height: 32px;
}

.user-profile-right .ap-links div {
  float: left;
}

.user-profile-right dd {
  margin: 0 0 5px 0;
}
/*----- Node theming -----*/
/* Group search list based on node--group--serche_resoult.tpl.php */
.page-content-finder .page-header, .page-group-finder .page-header {
  margin-bottom: 5px;
}
.node.node-product {
  padding-bottom: 5px;
}
.node.node-view-searche {
  background-color: #F7F7F7;
  margin-bottom: 5px;
  float: inherit;
  border: none;
}
.node.node-view-searche .image {
  float: left;
  width: 80px;
  margin-right: 2.5641%;
}
.node-view-searche .description {
  margin-left: 90px;
}
.margin5 {
  margin-left: 5px !important;
}
.node-view-searche .description h3 {
  font-size: 20.5px;
  margin:10px 0;
  line-height: inherit;
}
.node-view-searche .vbuttons a {
  min-width: 38px;
  display: block;
  padding: 30px 0;
  font-size: 18px !important;
  color: #ffffff;
  text-align: center;
}
.node-view-searche .public-private .field-name-group-access {
  padding: 20px 0;
  text-align: center;
}
.current-item .item {
  margin: 0;
}

/* Group Node Styles */

/* Members Table */
.additional ul.glossary {
  border-width: 0px;
  text-align: center;
}

ul.glossary li {
  display: inline-block;
  width: 20px;
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 0px 5px;
}

ul.glossary li a:hover {
  color: #7373ae;
  text-decoration: underline;
}

ul.glossary li:last-child {
  border-right: none;
}

.administer-group-members {
  width: 100%;
  max-width: 100%;
}

table.administer-group-members th,
table.administer-group-members td {
  background-color: #e9e9e9;
  text-align: center;
  vertical-align: middle;
  padding: 0px 5px;
}

table.administer-group-members th {
  border: 0px;
  padding: 5px;
}

.administer-group-members tbody td {
  border-top: 2px solid #f5f5f5;
}

.administer-group-members .members-name {
  text-align: left;
}

.administer-group-members th.members-name {
  padding-left: 65px;
}

.administer-group-members .check-list {
  width: 20px;
}

.administer-group-members .members-name img {
  width: 50px;
}

.administer-group-members .status {
  width: 60px;
}

.administer-group-members .operations {
  width: 100px;
}

.administer-group-members .operations .btn {
  background-color: #cccccc;
  width: 80px;
}

.administer-group-members .user-link {
  margin-left: 10px;
  color: #333;
}

/* Friends Page */
.group a.dropdown-toggle:hover,
.group a.dropdown-toggle:focus {
  text-decoration: none;

}

.group .group-dropdown.dropdown-menu li {
  background-color: #d9d9d9;
  width: 175px;
}

.group .group-dropdown.dropdown-menu a {
  padding: 0px 20px;
  background-color: #d9d9d9;
  line-height: 25px;
}

.group .group-dropdown.dropdown-menu a:hover {
  background-color: #ccc !important;
}

.group .group-dropdown.dropdown-menu a i {
  display: inline-block;
  width: 15px;
  min-height: 15px;
  float: left;
  padding: 5px;
  margin-right: 5px;
  margin-left: -15px;
  text-align: center;
}

/* Groups Page */
.community-tabs {
  background-color: #d9d9d9;
  margin-bottom: -2px;
  overflow: visible;
}

.community-tabs h1.page-header {
  padding: 0px;
  border-bottom-width: 0px;
}

.community-tabs a {
  width: 48%;
  padding: 0px 1%;

  display: inline-block;
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  margin-left: -1px;
}

.community-tabs a:first-child {
  border-left-width: 0px;
}

.community-tabs a:hover,
.community-tabs a.active {
  color: #666;
  text-decoration: none;
  border-bottom-color: transparent;
  background-color: #f5f5f5;
}

.community-tabs a.passive {
  color: #666;
  background-color: transparent;
  border-bottom: 1px solid #bfbfbf;
}
