@import url('/css/style.css');

.nav-collapse {
  margin-left:6%;
}

.categories-menu .nav > li > a.glyphicons {
  width: 85px;
  min-width: 60px;
}

.page-content > .container-fluid {
}

footer #block-menu-menu-footer-menu{
  display:block !important;
}

.page-sidebar {
  position: absolute !important;
  width: 225px;
}

.front .page-content {
  margin-top: 0px !important;
  min-height: 860px !important;
}

.page-container .top-bar {
}

#daisy-search-dropdown {
  margin-top:10px;
}

.daisynet-main-search .form-type-select select{
  vertical-align: center;
}

.page-content {
  margin-left: 225px;
  margin-top: 0px;
  min-height: 860px;
}

.catalog-front .user-image IMG {
  width:auto !important;
}

.catalog-front .webinar-info {
  border:solid #ddd;
  border-width: 1px 0;
}

.info-bottom {
  background: black !important;
}

.join-daisy-register-dialog.ui-widget button {
  background:none !important;
}
