/* Overall form styles */
body.node-type-product .page-content {
  background: none;
}

/* Full webinar node */
h2.webinar-title {
  font-size: 24px;
  line-height: 34px;
  padding-left: 10px;
  padding-bottom: 4px;
}
.contextual-links-region h2.webinar-title {
  padding-right: 130px;
}

.webinar-info-bar .date_day_month {
  font-size: 20px;
  line-height: 22px
}
.webinar-info-bar .field-name-field-webinar-date {
  font-size: 12px;
  line-height: 18px;
}

.webinar-info-bar .third {
  border-right: 1px solid #bfbfbf;
}

.webinar-info-bar .second a,
.webinar-info-bar a.social-toggle,
.webinar-info-bar .play-preview-wrapp a {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
}

.webinar-info-bar .second i,
.webinar-info-bar a.social-toggle i,
.webinar-info-bar .play-preview-wrapp i {
  color: #7e82bc;
  width: 40px;
  display: block;
  padding: 11px 0;
  font-size: 18px;
  text-align: center;
}

.webinar-info-bar .second a:hover i,
.webinar-info-bar a.social-toggle:hover i,
.webinar-info-bar .play-preview-wrapp a:hover i {
  color: #ffffff;
  text-align: none;
}

.webinar-info-bar .second a:hover,
.webinar-info-bar a.social-toggle:hover,
.webinar-info-bar .play-preview-wrapp a:hover {
  background-color: #7e82bc;
  text-decoration: none;
}

.webinar-info-bar .social-links i {
  top: 5px;
}

.node-portlet .portlet-title .tools > a {
  color: #000000;
  background-repeat: no-repeat;
  font-size: 16px;
  height: 16px;
  margin: 0 5px 0 5px;
}

.node-portlet .portlet-title .tools > a:hover,
.node-portlet .portlet-title .tools > a.active {
  color: #ffffff;
  opacity: 1;
}

.node-portlet .portlet-body {
  overflow: hidden;
}

/* Main content section */
.webinar-content-outer-wrapper {
  width: 100%;
}

.webinar-content-wrapper {
  padding: 10px;
}

.webinar-date-vote {
  text-align: center;
  width: 80px;
  color: #333;
}

.webinar-date-vote .sb-links {
  padding-top: 7px;
}

.webinar-date-vote .share-links {
  float: none;
  position: relative;
}

.webinar-date-vote .share-links .dropdown-menu {
  left: -20px;
}

.webinar-date-vote .share-links a {
}

.webinar-date-vote .share-links .dropdown a i:before {
  margin-left: -5px;
  font-size: 16px;
  color: #6569ab;
}

.webinar-date-vote .rate-widget{
  display: block;
  width: 32px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.webinar-date-vote .rate-number-up-down-rating {
  position: absolute;
  top: -20px;
  left: 5px;
}

.webinar-date-vote span.day{
  display: block;
  font-size: 32px;
  line-height: 32px;
}

.webinar-date-vote span.month {
  display: block;
  font-size: 20px;
  line-height: 20px;
}

.webinar-date .day {
  padding-right: 6px;
}

.sb-links .social-links {
  width: 124px;
  height: 40px;
  float: left;
  display: none;
}
.sb-links .social-links div.network {
  width: 40px;
}
.sb-links .social-links div.network i {
  line-height: 40px;
}

.navbar .nav .sb-links > a.social-toggle {
  background-color: transparent;
  margin-top: 0px;
  padding: 0px;
  float: left;
}

.sb-links a {
  display: block;
}

.sb-links ul.inline > li {
  padding: 0px;
  width: 100%;
}

.sb-links .flag-bookmarks a {
  text-indent: -9999px;
}

.sb-links a.flag.unflag-action:hover,
.sb-links a.flag {
  background:url(../img/flag.png) no-repeat 50% 50%;

}
.sb-links a.flag.unflag-action,
.sb-links a.flag:hover {
  background:#7373ae url(../img/flag-hover.png) no-repeat 50% 50%;
}

.sb-links .rate-info {
  display: none;
}

.webinar-content {
  margin-top: -10px;
  color: #333;
}

.webinar-content .webinar-title,
.webinar-content  .webinar-title a {
  border: 0;
  color: #6569ab;
  font-weight: normal;
  padding: 15px 0 10px 0;
}

.webinar-content  .webinar-title a:hover {
  text-decoration: none;
}

.webinar-content .webinar-title {
  margin: 0px;
  padding: 0px;
}

/* Category top bar */
.webinar-content .webinar-categories .field-item {
  background: #fff;
  float: left;
  margin: 0 5px 5px 0;
  padding: 6px 9px;
}

.webinar-content .webinar-categories .field-item a {
  color: #6569ab;
  text-transform: uppercase;
}

/* Keywords bottom bar */
.webinar-content .webinar-keywords {
  float: left;
  max-width: 52%;
  font-size: 12px;
}

.webinar-content .webinar-keywords .field-label {
  color: #808080;
  font-weight: normal;
}

.webinar-content .webinar-keywords .field-label i {
  margin-right: 5px;
}

.webinar-content .webinar-keywords .field-items .field-item {
  float: left;
  font-weight: bold;
  padding: 0 6px 0 4px;
}

.webinar-content .webinar-keywords .field-items .field-item:after {
  content: ",";
}

.webinar-content .webinar-keywords .field-items .field-item:last-child:after {
  content: none;
}

/* Author info right panel */
.webinar-content-wrapper .webinar-author-info {
  text-align: center;
  color: #666;
}

.webinar-content-wrapper .webinar-author-info .author-name {
  width: 100%;
  margin: 10px 0px;
  text-align: center;
}

.webinar-content-wrapper .webinar-author-info .author-name a,
.webinar-content-wrapper .webinar-author-info .author-name a:hover {
  color: #666;
}

.webinar-content-wrapper .webinar-author-info .author-country {
  margin: 10px 0px;
  text-align: center;
}

.webinar-content-wrapper .webinar-author-info .author-country i.icon-map-marker,
.webinar-content-wrapper .webinar-author-info .author-country * {
  display: inline;
}

.webinar-content-wrapper .webinar-author-info .author-country i.icon-map-marker,
.webinar-content-wrapper .webinar-author-info .author-country field-item {
  margin-right: 5px;
}

.webinar-content-wrapper .webinar-author-info .webinar-price table.prices {
  display: inline-block;
}
/* DONATION Button */

li.donation-for-webinar{
  margin-left: 2vw;
  width: 12vw;
  margin-top: -0.12em;

}
.donation-for-webinar button{
  background-color: rgba(115, 174, 147, 0.78);
}

/* END DONATION Button */

.add-to-cart .attributes label.control-label {
  display: none;
}

.add-to-cart .attributes .form-type-select select {
  width: auto;
}

.webinar-content-wrapper .webinar-author-info .participate,
.webinar-content-wrapper .webinar-author-info .view-recordings {
  margin: 0 0 10px 0;
}

.webinar-content-wrapper .webinar-author-info .view-recordings .adobe-connect-recordings-holder {
  position: relative;
  width: 100%;
}

.webinar-content-wrapper .webinar-author-info .view-recordings .adobe-connect-recordings-holder ul.dropdown-menu {
  right: 0;
  left: auto;
}

.webinar-content-wrapper .webinar-author-info .view-recordings .adobe-connect-recordings-holder a.dropdown-toggle {
  width: 100%;
  margin: 0;
  padding: 7px 0;
}

.webinar-content-wrapper .webinar-author-info .view-recordings .adobe-connect-recordings-holder a.dropdown-toggle .badge {
  margin-left: 4px;
}

.webinar-content-wrapper .webinar-author-info .webinar-price {
  margin: 10px 0px;
}

.webinar-content-wrapper .webinar-author-info .webinar-price .form-select {
  width: auto;
}

.webinar-content-wrapper .webinar-price .price-participate,
.webinar-content-wrapper .webinar-price .price-view {
  padding: 0px;
  border: none;
  color: #85AC69;
  font-weight: bold;
}

.webinar-content-wrapper .webinar-price td.price-participate,
.webinar-content-wrapper .webinar-price td.price-view {
  font-size: 18px;
}

.webinar-content-wrapper .webinar-price td.price-participate.discount-value,
.webinar-content-wrapper .webinar-price td.price-view.discount-value {
  font-size: 12px;
  text-decoration: line-through;
}
.webinar-content-wrapper .webinar-price .price-view {
  color: #00A1DB;
}
.webinar-content-wrapper .webinar-author-info .webinar-price .price td {
  border: none;
}
.webinar-content-wrapper .webinar-author-info .webinar-price .price .price-label {
  padding-left: 0;
  padding-right: 4px;
}
.webinar-content-wrapper .webinar-author-info .webinar-price .price .price-value {
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
}

.webinar-content-wrapper .webinar-author-info .date {
  margin: 10px 0px;
}

.webinar-info-bar .webinar-price {
  margin-right: 2px;
}
.add-to-cart .btn.form-submit,
.btn.default.btn-free {
  margin: 0;
  padding: 0;
  line-height: 40px;
  color: #404040;
  float: left;
  width: 50%;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  text-align: center;
  background-color: #e6e6e6;
}
.btn.default.btn-free {
  width: 100%;
}
.btn.default.btn-free.btn-has-link {
  height: 40px;
  line-height: 20px;
}
.btn.default.btn-free a.participate-link {
  display: block;
  height: 100%;
  width: 100%;
}
.add-to-cart .btn.form-submit:hover {
  background-color: #d9d9d9;
}
.add-to-cart .btn-wrapper {
  overflow: hidden;
  position: relative;
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
}
.buy-webinar.buy-participate .btn-wrapper,
.webinar-teaser-past .add-to-cart .btn-wrapper {
  width: 100%;
}
.webinar-teaser-past .add-to-cart .btn-wrapper .btn.form-submit {
  background-color: transparent;
  border-color: transparent;
  font-size: 0px;
  height: 50px;
  width: 50px;
  z-index: 30;
}
.webinar-teaser-past .add-to-cart .btn-wrapper:focus,
.webinar-teaser-past .add-to-cart .btn-wrapper:hover {
  background-color: #d9d9d9;
}
.buy-webinar.buy-participate .btn-wrapper,
.node-product.past .add-to-cart .btn-wrapper {
  float: right;
}
.add-to-cart .btn-wrapper .btn.form-submit {
  float: left;
  padding-left: 10px;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 10;
}
.buy-webinar.buy-participate .btn-wrapper .btn.type-view.form-submit,
.node-product.past .add-to-cart .btn-wrapper .btn.type-participate.form-submit {
  display: none;
}
.add-to-cart .btn-wrapper .btn-over.price {
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 20;
}
.webinar-teaser-past .add-to-cart .btn-wrapper .btn-over.price {
  font-size: 20px;
  line-height: 50px;
  right: 0;
  top: 0;
  width: 100%;
}

.webinar-content-wrapper .webinar-author-info .participate a.participate-link {
  padding: 5px 10px;
  background: #6569ab;
  color: #ffffff;
  display: block;
}

/* Bottom info bar */
.webinar-data-wrapper {
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
}

ul.webinar-data {
  float: right;
  margin: 0 10px 0 0;
  padding: 0;
}

ul.webinar-data li {
  margin: 0 5px;
  padding: 0 5px;
  color: #666;
}

.webinar-data .date > div {
  display: inline-block;
}

.webinar-author-info .date .icon-calendar {
  diplay: inline-block;
  margin-top: 4px;
  margin-right: 5px;
}

.additional .nav {
  margin-bottom: 10px;
}

/**
 * Webinar Catalog Styles.
 */
.node-teaser .webinar-data-wrapper {
  padding: 7px;
}

.node-teaser .add-to-cart .controls select {
  width: 100%;
}

.node-teaser .add-to-cart button.node-add-to-cart {
  width: 100%;
}

.node-teaser form .attributes label.control-label {
  display: none;
}

.node-teaser .webinar-categories .field-items .field-item:first-child {
  display: block;
}

.node-teaser .webinar-categories .field-items .field-item {
  display: none;
}

/* Author info block */
#block-views-product-extra-author-info {
  padding: 5px;
}

#block-views-product-extra-author-info .views-field-daisy-full-name {
  font-size: 16px;
  padding: 4px 0px;
  margin-left: 10px;
}

#block-views-product-extra-author-info .views-field-daisy-full-name a {
  color: #707070;
}

#block-views-product-extra-author-info .views-field-field-user-recommended-country {
  margin-left: 10px;
  margin-bottom: 8px;
}

#block-views-product-extra-author-info .views-field-field-user-about {
  border:none;
  border-top: 1px solid #cccccc;
  padding: 10px;
  text-align: justify;
}

/* Style for the tabs of a webinar,in the past,live,future */
.webinar-additional ul.nav-tabs.past li{
  width:33.333%;
}

.tab-pane {
  padding:10px 10px 0;
}

#product-node-form .node-edit h3.desc {
  border-bottom: 1px solid #e2e2e2 !important;
  margin-bottom: 10px;
}

form #comment-form {
  margin-bottom: 10px;
}

#comments article {
  padding-bottom: 10px;
}

#comments article:last-child {
  padding-bottom: 0px;
}

/*-------- NODE TEASER --------*/
/* Node product */
.node-teaser.node-product {
  float: left;
  width: 350px;
  background-color: #ffffff;
  padding: 0;
  margin: 0 10px 10px 0;
}

.node-teaser.node-product.webinar-teaser-past {
  width: 230px;
  margin: 0 10px 10px 0;
  border-top: 4px solid transparent;
}

.node-teaser.node-product header {
  border-bottom: 1px solid #bfbfbf;
  height: 50px;
  line-height: 13px;
  overflow: hidden;
}

.node-teaser.node-product .author-wrapp .author-picture,
.node-teaser.node-product .author-wrapp .webinar-title {
  display: inline-block;
  float: left;
  width: auto;
}

.node-teaser.node-product .author-picture img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.node-teaser.node-product .author-name {
  font-size: 12px;
  color: #7e81bc;
  padding-top: 12px;
}

.node-teaser.node-product .author-country {
  font-size: 10px;
  color: #808080;
}

.node-teaser.node-product .date-wrapp {
  float: right;
  text-align: center;
  padding-right: 5px;
}

.node-teaser.node-product .date_day_month {
  font-size: 16px;
  padding-top: 12px;
}

.node-teaser.node-product .date_hour_timezone {
  font-size: 12px;
  margin-top: 3px;
}

.node-teaser.node-product .webinar-content {
  height: 98px;
  overflow: hidden;
}

.node-teaser.node-product .webinar-content .webinar-title {
  position: relative;
  line-height: 35px;
}

.node-teaser.node-product .webinar-content .webinar-title a {
  padding: 0;
}

.node-teaser.node-product h3 a {
  font-size: 16px;
  color: #404040;
}
.node-teaser.node-product .live-wrapp {
  background: #2ecd71;
  color: #ffffff;
  float: right;
  font-size: 12px;
  line-height: 20px;
  margin: 13px 35px 0 0;
  overflow: hidden;
  padding: 2px 10px;
}

.node-teaser.node-product.webinar-teaser-past h4 a {
  font-size: 14px;
  line-height: 16px;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  height: 50px;
  max-width: 125px;
}

.node-teaser.node-product.webinar-teaser-past h4 a:hover {
  color: #404040;
}

.node-teaser.node-product form {
  margin: 0;
}

.node-teaser.node-product .webinar-price .add-to-cart .btn.form-submit,
.node-teaser.node-product .webinar-price .btn.default.btn-free {
  border: 1px solid #fff;
}
.node-teaser.node-product .webinar-price .btn.default.btn-free {
  width: 348px;
}

.node-teaser.node-product .buttons-wrapp {
  float: right;
  text-align: center;
}

.node-teaser.node-product .btn-play {
  background: none;
  color: #7373ae;
  cursor: pointer;
  font-size: 20px;
  line-height: 50px;
  overflow: hidden;
  padding: 0;
  width: 50px;
}

.node-teaser.node-product .btn-play:hover {
  color: #d9d9d9;
}

.node-teaser.node-product.webinar-teaser-past .webinar-content {
  height: 140px;
  padding: 0;
}

.node-teaser.node-product.webinar-teaser-past .webinar-preview {
  background: url("../img/img-ex.png") no-repeat;
  width: 230px;
  height: 140px;
}

.webinar-info-bar-menu li {
  height:40px;
}

.webinar-info-bar-menu li.first-one {
  width:150px;
  text-align:center;
  border-right:1px solid #bfbfbf;
}

.webinar-info-bar-menu li.second {
  width:40px;
  border-right:1px solid #bfbfbf;
}

.webinar-info-bar-menu li.play-preview-wrapp {
  width:40px;
  border-right:1px solid #bfbfbf;
}

.webinar-info-bar-menu li.forth {
  width: 300px;
  margin-right: 0px;
  float: right;
}

.webinar-info-bar-menu li.forth .btn:hover {
  background-color: #d9d9d9;
}

.webinar-info-bar-menu li.forth button .form-submit {
  display: inline-block;
  width: 150px;
}

.webinar-info-bar-menu li.live {
  background: #2ecd71;
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  padding: 0px 15px;
}

.webinar-info-bar .web-vote-wrapp .rate-info {
  display: none;
}

.webinar-additional .webinar-keywords .field-item {
  float: left;
  margin-left: 10px;
}

.webinar-additional {
  margin-top: 10px;
}

.webinar-additional > .nav-tabs {
  background-color: #e6e6e6;
  border: 1px solid #bfbfbf;
  border-left-width: 0px;
  border-right-width: 0px;
}

.webinar-additional > .nav-tabs > li > a:focus,
.webinar-additional > .nav-tabs > li.active > a:focus,
.webinar-additional > .nav-tabs > li > a:hover,
.webinar-additional > .nav-tabs > li.active > a:hover,
.webinar-additional > .nav-tabs > li > a,
.webinar-additional > .nav-tabs > li.active > a {
  border-right-color: #bfbfbf;
  color: #404040;
  padding: 10px 20px;
  margin: 0;
}

.webinar-additional > .nav-tabs li a:focus,
.webinar-additional > .nav-tabs li a:hover {
  background-color: #eeeeee;
}

.webinar-additional > .nav-tabs li.active a {
  background-color: #f5f5f5;
  border-right-color: #bfbfbf;
  color: #666666;
}

.webinar-additional textarea:focus {
  border-color: rgba(115, 115, 174, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(115, 115, 174, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(115, 115, 174, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(115, 115, 174, 0.6);
}

.webinar-additional #comments commented-body time {
  color: #8e8e8e;
}

.webinar-info-bar-menu {
  width:100%;
  border-bottom: solid 1px #bfbfbf;
}

.price-watch .field-item {
  color: #00A1DB;
  padding-left:18px;
}

.price-participate .field-item {
  padding-left:18px;
  color:black !important;
  font-size:18px;
}

.webinar-info-bar-menu li.dropdown a,
.webinar-info-bar-menu li.play-preview-wrapp a {
  color: #7e82bc !important;
}

.price-watch .field-item {
  color:black !important;
  font-size:18px;
  padding-left:18px;
}

.price-view {
  color:black !important;
  font-weight:normal !important ;
}

.watch-fee ul {
  width:150px;
}

.prices {
  background-color: #e6e6e6 !important transparent;
  margin:0px !important;
}

.participate-prices-fee {
  border-right: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
}

.price-participate {
  padding-left: 17px !important;
  color: black !important;
  font-weight:normal !important ;
}

/**
 * Contextual links
 */
.node-product div.contextual-links-wrapper {
  z-index: 0;
}

.node-product div.contextual-links-wrapper a.contextual-links-trigger {
  display: none;
}
.node-product ul.metronic-contextual-links {
  margin-top: 10px;
}
.node-product .metronic-contextual-links li a:hover {
  color: #7e82bc;
}

/**
 * Node countdown styles
 */
.adobe-countdown-timer.hasCountdown {
  border: 0px solid transparent;
  background: none;
}
