.daisy-ubercart-pane .table-striped tbody > tr:nth-child(odd) > td,
.daisy-ubercart-pane .table-striped tbody > tr:nth-child(odd) > th {
  background-color: #e6e6e6;
}
.daisy-ubercart-pane table.table,
.daisy-ubercart-pane table tbody,
.daisy-ubercart-pane table thead,
.daisy-ubercart-pane table tr,
.daisy-ubercart-pane table tr td,
.daisy-ubercart-pane table tr th {
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-collapse: separate;
}
.daisy-ubercart-pane table.table {
  margin-bottom: 10px;
  border-spacing: 0 2px;
}
.daisy-ubercart-pane table tr th {
  background-color: #d9d9d9;
}
.daisy-ubercart-pane table tr td {
  background-color: #e6e6e6;
  border-spacing: 0 2px;
}
.daisy-ubercart-pane table tr {
  border-spacing: 2px;
}
.daisy-ubercart-pane table tr th {
  text-align: center;
}
.daisy-ubercart-pane table tr td {
  text-align: center;
  vertical-align: middle;
}

.daisy-ubercart-pane table tr .auto-number  {
  width: 30px;
  border-right-color: #f5f5f5;
  border-right-style: solid;
  border-right-width: 2px;
}
.daisy-ubercart-pane table tr .image  {
  height: 50px;
  width: 50px;
 }
.daisy-ubercart-pane table tr .product-name {
  text-align: left;
  padding-left: 10px;
}
.daisy-ubercart-pane table tr .total,
.daisy-ubercart-pane table tr .qty,
.daisy-ubercart-pane table tr .remove,
.daisy-ubercart-pane table tr .type {
  padding-left: 20px;
  padding-right: 20px;
}

.uc-cart-checkout-form {
  padding-left: 10px;
  padding-right: 10px;
}
#payment-pane,
#customer-pane,
#daisy_ubercart_checkout_pane-pane {
  margin-bottom: 10px;
  margin-top: 10px;
}
